@import '_colors';
@import '_typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 50px 23px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 100vw rgba($color-black, .7);
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            z-index: 2;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 2;
        }

        nav#mobile-menu {
            z-index: 1;
            display: none;
            align-items: center;
            position: absolute;
            height: 100vh;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $color-black;
            justify-content: center;
            
            ul {
                list-style: none;
                width: 327px;
    
                li {
    
                    a {
                        color: $color-white;
                        text-decoration: none;
                        font-family: $font-family-josefina;
                        text-transform: uppercase;
                        line-height: 2;
                        font-size: 24px;
                    }
                }
            } 
        }
        
    }

    h1 {
        border: 3px solid $color-white;
        padding: 26px;
        font-family: $font-family-josefina;
        text-transform: uppercase;
        color: $color-white;
        font-size: 40px;
        line-height: 1;
        font-weight: 300;
        margin-top: 162px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 327px;

    img {
        width: 100%;
    }

    section h2 {
        font-size: 32px;
        font-family: $font-family-josefina;
        text-transform: uppercase;
        font-weight: 300;
    }

    .about {
        margin-top: 96px;

        &-description {
            text-align: center;
            padding: 0 29px;

            h2 {
                margin-top: 48px;
            }

            p { 
                font-size: $font-size-normal;
                font-family: $font-family-alata;
                font-weight: 400;
                line-height: 25px;
                margin-top: 16px;
                color: $color-very-dark-gray; 
            }
        }

    }

    .portfolio {
        text-align: center;
        margin-top: 96px;

        &-container {
            margin-top: 48px;

            .portfolio-item {
                position: relative;
                background-color: $color-black;
                margin-bottom: 24px;
                height: 120px;

                img {
                    opacity: .5;
                }

                h3 {
                    position: absolute;
                    bottom: 30px;
                    left: 21px;
                    font-family: $font-family-josefina;
                    color: $color-white;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 24px;
                    text-align: left;
                }
            }

        }

        &-btn-link {
            border: 1px solid $color-black;
            padding: 15px 38px;
            font-size: 14px;
            font-family: $font-family-alata;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-black;
            letter-spacing: 5px;
            display: inline-block;

            &:hover {
                background-color: $color-black;
                color: $color-white  ;
            }
        }

    }
}

footer {
    background-color: $color-black;
    margin-top: 96px;
    color: $color-white;
    font-family: $font-family-alata;
    font-size: $font-size-normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 56px 52px;

    img {
        width: 144px;
    }

    ul {
        margin-top: 32px;

        li {
            margin-bottom: 16px; 
            list-style: none;

            a {
                text-decoration: none;
                color: $color-white;
            }

        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .social-container {
        margin-top: 48px;
        
        a {
            text-decoration: none;
            margin-right: 16px;

            img {
                width: 24px;
            }
        }

        :last-child {
            margin-right: 0;
        }
    }

    p {
        margin-top: 16px;
        color: $color-dark-gray;
        font-size: 15px;
    }

}
